[submodule "themes/raditian"]
	path = themes/raditian
	url = https://github.com/radity/raditian-free-hugo-theme.git
[submodule "themes/hargo"]
	path = themes/hargo
	url = git@github.com:themefisher/hargo.git
